@import "tailwindcss";



.perspective {
  perspective: 1200px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* White Auth Input */
.auth-input-white {
  width: 100%;
  height: 44px;
  background-color: #f9fafb;
  border: 1px solid #e2e8f0;
  color: #1e293b;
  padding: 10px 12px;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s;
  
}
.auth-input-white::placeholder {
  color: #94a3b8;
}
.auth-input-white:focus {
  border-color: #0ea5e9;
  box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.2);
  background-color: #fff;
}
